# Mysql Live
DB_HOST=fullstack-mysql                
# DB_HOST=127.0.0.1                           # when running the app without docker 
DB_DRIVER=mysql 
API_SECRET=98hbun98h                          # Used for creating a JWT. Can be anything 
DB_USER=root2
DB_PASSWORD=password
DB_NAME=fullstack_api
DB_PORT=3306

# Mysql Test
TEST_DB_HOST=fullstack-mysql_test                       
# TEST_DB_HOST=127.0.0.1                       # when running the app without docker 
TEST_DB_DRIVER=mysql
TEST_API_SECRET=98hbun98h
TEST_DB_USER=MYSQL_ROOT_PASSWORD
TEST_DB_PASSWORD=password
TEST_DB_NAME=fullstack_api_test
TEST_DB_PORT=3306

API_PORT=8080